VITE_FIREBASE_API_KEY=your_firebase_web_api_key
VITE_FIREBASE_AUTH_DOMAIN=ost-barber-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ost-barber-app
VITE_FIREBASE_STORAGE_BUCKET=ost-barber-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=861100216939
VITE_FIREBASE_APP_ID=1:861100216939:web:d52c7f14e1fb987490972e
